$dark-background: #000;
$neon-text-clr: #fff;
$accent-color: #e60073;
$neon-text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 15px $accent-color,
  0 0 20px $accent-color, 0 0 25px $accent-color, 0 0 30px $accent-color,
  0 0 35px $accent-color;
$border-white: 2px solid white;
$img-filter: sepia(1) hue-rotate(260deg) saturate(5);
